

body{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    
   
    
    color: 		#232b2b;
}


/*about me*/
.about-me{
    margin-top: 10%;
    display: flex;
    flex-direction:column;
    padding: 5%;
    width: 100%;
    text-align: center;
    
        
}


/*animation*/
@keyframes mymove {
    from {left: -100%;}
    to {left: 0px;}
    
}

@keyframes mymoveleft {
    from {right: -100%;}
    to {right: 0px;}
    
}
@keyframes mymovecenter {
    from {top: -300px;}
    to {top: 0px;}
    
}


p{
    font-family:sans-serif;
    font-size: 20px;
    
    
    position: relative;
}
.mee{
    
    font-family: 'Playfair Display', serif;
}



.top{
   background-image: url(damian-zaleski-843-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    height: 100vh;
    display: flex;
    
}
@media only screen and (max-width: 680px) {
    
    .contact1{
        font-size: 100px !important;
    }
    
    .item1{
        width: 50% !important;
        height: 20% !important;
    }
    .contact{
        margin-top: 350px;
    }
    .top{
        background-size: contain;
        height: 70vh;
        
    }
    
    
}
@media only screen and (min-width: 680px) {
    .project-tile{
        width: 29.3% !important;
        
    }
}
/*nav*/

#navbar {
    position: fixed; 
    top: 0; 
    width: 100%; 
    height: 8%;
    font-size: 100%;
    z-index:1;
    
    font-size: 20px;
    font-weight: 700;
}
nav ul{
    padding: 0px;
    display: flex;
    overflow: hidden;
    margin: 0px;
    
    
}
nav li { 
    display: inline-block; 
    
    text-align: center;
    
    
}
#linkaa  {
    width:34.1%;
}
#conta{
    width:34.1%;}
#koko{
     width:31.8%; 
   
    }
a.link {
    display: block;
    text-decoration: none;
    color: 	#232b2b;
    
}

li a:hover{
    background: #F7C502 !important;
    color: aliceblue !important;
  
}
li a {
    display: block;
    height: 100%;
    line-height: 8vh;
    
}
.skills-nav{
    padding-left: 65px;
    
}
.conta-nav{
    padding-right: 65px;
}
.roll-down{
  -webkit-transition:background-color 5s;
   transition: background-color 5s;
  background-color:rgba(0,0,0,0.5);
  color:white;
}
.roll-up{
    -webkit-transition:background-color 5s;
   transition: background-color 3s;
  background-color: none;
  
}
/*skills*/
.skills{
    position: relative;
    display: flex;
    width: 100%;
    flex-wrap:wrap;
    height: 100vh;
   
    
}

/*port*/

.box{
     flex-wrap:wrap;
    display: flex;
    text-align: center;
    font-size: 125px;
    width: 100%;
    padding: 3%;
    position: relative;
    
}
.item1{
    width:16.6%;
    
}
/*port*/
.portfolio-container{
    position: relative;
    
    padding: 5%;
    margin-top: 100px;
    
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    
    color: #F7C502;
    
}
.project-tile{
    width: 100%;
    height: 65vh;
    margin: 2%;
    text-align: center;
    -webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
    
     
    
}
.quote-mach-image{
    background-image:url(my-quote.jpg);
   
   
}
.code-pen-image{
    background-image:url(code-pen.jpg);
    
}
.home-image{
    background-image:url(home.jpg);
   
}
.imo{
     background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
    margin: 12%;
    
   
    
}
.imo:hover{
    
    filter:opacity(30%);
    transition: filter 1s;
}

.project-title a{
    text-decoration: none;
}
#link-left{
    position: relative;
    
    
}
#link-right{
    position: relative;
    
}
#link-center{
    position: relative;
    
}

/*contact*/

.contact{
    display: flex;
    height: 100%;
    position: relative;
    padding: 5%;
    flex-wrap: wrap;
    
    }
.contact1{
    width: 50%;
    height: 50vh;
    text-align: center;
    font-size:150px;
}
.title1{
    
    width: 100%;
     line-height: 250px;
    
}
.copyright{
    text-align: center;
    width: 100%;
    font-family: monospace;
}