

body{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    
}


/*about me*/
.about-me{
    margin-top: 10%;
    color: aliceblue;
    display: flex;
    flex-direction:column;
    padding: 5%;
    width: 100%;
    text-align: center;
    
        
}

#welcome-section{
    position: relative;
    animation: mymove 3s;
    
}
/*animation*/
@keyframes mymove {
    from {left: -100%;}
    to {left: 0px;}
    
}
@keyframes mymoveleft {
    from {right: -100%;}
    to {right: 0px;}
    
}
@keyframes mymovecenter {
    from {top: -300px;}
    to {top: 0px;}
    
}


p{
    font-family:sans-serif;
    font-size: 20px;
    font-style:italic;
    margin-left: 5%;
    position: relative;
    
    
   
}
.mee{
    color: #F7C502;
    margin-left: 30%;
    display: flex;
    font-family: 'Playfair Display', serif;
}
.letter{
    width: 10%;
}
h2{
    margin-right: 30%;
}

.top{
    background: url(69638974-portfolio-wallpapers.jpg);
   
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    height: 100vh;
    display: flex;
    
}
@media only screen and (max-width: 680px) {
    
    .contact1{
        font-size: 100px !important;
    }
    .project-tile{
        width: 100% !important;
        height: 50% !important;
    }
    .item1{
        width: 50% !important;
        height: 33% !important;
    }
    .contact{
        margin-top: 350px;
    }
    .top{
        background-size: cover;
        height: 50vh;
        
    }
    .skills{
        height:50vh;
    }
    
}

/*nav*/

#navbar {
    position: fixed; 
    top: 0; 
    width: 100%; 
    height: 8%;
    font-size: 100%;
    z-index:1;
}
nav ul{
    padding: 0px;
    display: flex;
    overflow: hidden;
    margin: 0px;
    
    
}
nav li { 
    display: inline-block; 
    
    text-align: center;
    
    
}
#linkaa  {
    width:34.1%;
}
#conta{
    width:34.1%;}
#koko{
     width:31.8%;   
    }
a.link {
    display: block;
    text-decoration: none;
    color: #F7C502;
    
}

li a:hover{
    background: #F7C502;
    color: aliceblue;
  
}
li a {
    display: block;
    height: 100%;
    line-height: 8vh;
    
}
.skills-nav{
    padding-left: 65px;
}
.conta-nav{
    padding-right: 65px;
}
.roll-down{
  -webkit-transition:background-color 5s;
   transition: background-color 5s;
  background-color:rgba(0,0,0,0.5);
  color:white;
}
.roll-up{
    -webkit-transition:background-color 5s;
   transition: background-color 3s;
  background-color: none;
  
}
/*skills*/
.skills{
    
    display: flex;
    width: 100%;
    flex-wrap:wrap;
    height: 70vh;
}

/*port*/

.box{
     flex-wrap:wrap;
    display: flex;
    text-align: center;
    font-size: 125px;
    width: 100%;
    padding: 3%;
    
    
}
.item1{
    width:16.6%;
    
}
/*port*/
.portfolio-container{
    background-color: white;
    padding: 5%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    color: #F7C502;
    padding-top: 0px;
}
.project-tile{
    width: 31.3%;
    height: 100%;
    margin: 1%;
    text-align: center;
    -webkit-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75);
    position: relative;
     
    
}

.imo:hover{
    
    filter:opacity(30%);
    transition: filter 1s;
}

.project-title a{
    text-decoration: none;
}
#link-left{
    position: relative;
    visibility: hidden;
    
}
#link-right{
    position: relative;
    visibility: hidden;
}
#link-center{
    position: relative;
    visibility: hidden;
}

/*contact*/

.contact{
    display: flex;
    height: 100vh;
    position: relative;
    padding: 5%;
    flex-wrap: wrap;
    }
.contact1{
    width: 33.3%;
    height: 50vh;
    text-align: center;
    font-size:150px;
}
.title1{
    text-align: center;
    width: 100%;
     line-height: 250px;
    
}
.copyright{
    text-align: center;
    width: 100%;
    font-family: monospace;
}