body{
    margin: 0px;
}


/*about me*/
.about-me{
    color: aliceblue;
    display: flex;
    flex-direction:column;
    padding: 5%;
    
}
.top{
    background-image: url(hao-wang-217034-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    padding: 0px;
    height: 100vh;
    
}


/*nav*/

#navbar {
    position: fixed; 
    top: 0; 
    width: 100%; 
}
#navbar-list li{
    display: inline-block;
    text-align: center;
    width: 30.3%;
    
}
li a {
    display: inline;
    width: 33.3%;
}
.roll-down{
  
   transition: background-color 1s;
  background-color: #E3E3E3;
  color:white;
}
.roll-up{
  
   transition: background-color 2s;
  background-color: none;
  
}


/*port*/

.portfolio-container{
    height: 100vh;
}
